.jumbotron {


    .gallery-slider {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .gallery-slider__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 100%;
        gap: 40px;
        overflow: hidden;
        flex-wrap: nowrap;
    }

    .gallery-slider__slide {
        position: relative;
        overflow: hidden;
        width: 183px;
        height: 564px;
        max-width: 498px;
        filter: grayscale(100%);
        transition: width 1.2s cubic-bezier(1, 0.3, 0.5, 1), filter 0.8s ease-in-out;
        cursor: pointer;
    }

    .gallery-slider__image {
        position: absolute;
        left: 50%;
        top: 0;
        width: 100%;
        height: 100%;
        transform: translateX(-50%);
        object-fit: cover;
        border: 2px solid gold;
    }

    .gallery-slider__slide.active {
        width: 498px;
        filter: none;
    }

    .gallery-slider__img-prev,
    .gallery-slider__img-next {
        position: absolute;
        top: 0;
        object-fit: cover;

        width: 183px;
        height: 564px;
        opacity: 1;
        visibility: visible;
        transition: width 1.2s cubic-bezier(1, 0.3, 0.5, 1), opacity 1.2s ease-in-out,
            visibility 1.2s ease-in-out;
    }

    .gallery-slider__slide.active .gallery-slider__img-prev {
        width: 498px;
        z-index: 1;
        animation: zoom-img 1.2s ease-in-out 0.5s 1 forwards;
    }

    .gallery-slider__slide.active .gallery-slider__img-next {
        width: 498px;
        opacity: 1;
        visibility: visible;
    }

    @keyframes zoom-img {
        0% {
            opacity: 1;
            visibility: visible;
        }

        50% {
            transform: scale(1.3);
        }

        100% {
            transform: scale(1.4);
            opacity: 0;
            visibility: hidden;
        }
    }
}

.mobile-jumbo {
    width: 100vw;
    height: 400px;
    position: relative;

    h1 {

        font-family: "Allura", cursive;
        font-weight: 400;
        font-style: normal;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-image: linear-gradient(135deg,
                rgb(252, 230, 134) 15%,
                /* Brown */
                rgb(255, 215, 0) 60%);
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 12rem;
        background-size: 300%;
        animation: shimmer-color 4s linear infinite;
        animation: fadeIn 1s ease-in-out;

    }
}

@keyframes shimmer-color {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 50% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.mobile-jumbo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 16 / 9;
}