/* Classe personalizzata per nascondere elementi */
@media (min-width: 768px) {
    .custom-hidden {
        display: block !important;
    }
}

.info-box {
    /* Ombra */
    border: 1px solid #dee2e6;
    /* Bordo sottile */
    border-radius: 8px;

    h5 {
        margin-bottom: 1rem;
        font-size: 1.2rem;
        font-weight: bold;
    }
}

.info-list {

    li {
        margin-bottom: 0.5rem;
        font-size: 1rem;

        a {
            color: white;

            &:hover {
                text-decoration: underline;
                color: gold;
                font-weight: bold;
            }
        }
    }
}

.social-links {
    a {
        color: inherit;

        &.facebook {
            color: #3b5998;

            &:hover {
                color: #2d4373;
            }
        }

        &.twitter {
            color: #1da1f2;

            &:hover {
                color: #0d8ddb;
            }
        }

        &.instagram {
            color: #e4405f;

            &:hover {
                color: #bc2a8d;
            }
        }
    }
}

/* Rimuove il colore azzurro dai link visitati */
.footer-nav-link:visited {
    color: inherit;
}