@media (min-width: 768px) {
    .d-none {
        display: block !important;
    }
}

.info-box {

    /* Ombra */
    border: 1px solid #dee2e6;
    /* Bordo sottile */
    border-radius: 8px;
    /* Angoli arrotondati */
}

.info-box h5 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}



/* Colore specifico per Facebook */
.social-links a.facebook {
    color: #3b5998;
}

.social-links a.facebook:hover {
    color: #2d4373;
}

/* Colore specifico per Twitter */
.social-links a.twitter {
    color: #1da1f2;
}

.social-links a.twitter:hover {
    color: #0d8ddb;
}

/* Colore specifico per Instagram */
.social-links a.instagram {
    color: #e4405f;
}

.social-links a.instagram:hover {
    color: #bc2a8d;
}