.card-container {


    .custom-card {
        position: relative;
        overflow: hidden;
        border: none;
        border-radius: 0.5rem;
        height: 450px;
        height: 400px;
        max-width: 290px;


        border: 1px solid
    }

    .card-imges {
        width: 100%;
        height: 100%;
        object-fit: cover;

        transition: transform 0.3s ease-in-out;
    }

    .custom-card:hover .card-img {
        transform: scale(1.1);
    }

    .card-hover {
        position: absolute;
        bottom: -40%;
        /* Nasconde l'hover inizialmente */
        left: 0;
        width: 100%;
        height: 50%;
        /* Mostra metà card al hover */
        background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3));
        /* Gradient nero */
        color: white;
        transition: bottom 0.3s ease-in-out;
    }

    .custom-card:hover .card-hover {
        bottom: 0;
        /* Fa salire l'hover */
    }

    .card-hover-content {
        padding: 1rem;
    }

    .card-title {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        padding-top: 10px;
    }

    .discounted-tag {
        top: 5px;
        left: 5px;
        color: rgb(168, 1, 1);
    }

    .card-description {
        font-size: 1rem;
        padding-top: 2rem;
        margin-bottom: 0.5rem;
        ;
    }

    .card-price {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 1rem;

    }

    .card-link {
        text-decoration: none;
        padding: 0;
        color: gold;
        background: linear-gradient(135deg,
                rgb(252, 230, 134) 15%,
                /* Brown */
                rgb(255, 215, 0) 60%);
        color: white;
        padding: 5px 20px;



    }

    .card-link:hover {
        text-decoration: underline;
    }
}