@import "bootstrap";



.main-container {
    width: 100%;
    max-width: 1640px;
    margin: auto;
    padding: 20px;
}

@media (min-width: 768px) {
    .main-container {
        padding: 40px;
    }
}

@media (min-width: 1024px) {
    .main-container {
        padding: 50px;
    }
}

body {
    color: white;
    background: linear-gradient(135deg,
            rgb(15, 0, 0) 40%,
            /* Nero meno invasivo in alto a sinistra */
            rgb(65, 1, 1) 100%
            /* Oro semi-trasparente in basso a destra */
        );
    background-size: 300% 300%;
    /* Dimensione più ampia per un effetto morbido */
    animation: wave 15s infinite ease-in-out;
    /* Animazione più lenta */

}

@keyframes wave {
    0% {
        background-position: 0% 50%;
        /* Punto di partenza */
    }

    50% {
        background-position: 100% 50%;
        /* Movimento laterale fluido */
    }

    100% {
        background-position: 0% 50%;
        /* Ritorno al punto di partenza */
    }
}

li {
    list-style: none;
}