@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');
@import "bootstrap-icons/font/bootstrap-icons.css";


* {
    font-family: 'Jost', sans-serif;
}



.main-container {
    width: 100%;
    max-width: 1640px;
    margin: auto;
    padding: 0 20px;
}

@media (min-width: 768px) {
    .main-container {
        padding: 0 40px;
    }
}

@media (min-width: 1024px) {
    .main-container {
        padding: 0 50px;
    }
}

body {
    color: white;
    background: linear-gradient(135deg,
            rgb(15, 0, 0) 40%,
            /* Nero meno invasivo in alto a sinistra */
            rgb(65, 1, 1) 100%
            /* Oro semi-trasparente in basso a destra */
        );
    background-size: 300% 300%;
    /* Dimensione più ampia per un effetto morbido */
    animation: wave 15s infinite ease-in-out;
    /* Animazione più lenta */

}

@keyframes wave {
    0% {
        background-position: 0% 50%;
        /* Punto di partenza */
    }

    50% {
        background-position: 100% 50%;
        /* Movimento laterale fluido */
    }

    100% {
        background-position: 0% 50%;
        /* Ritorno al punto di partenza */
    }
}

li {
    list-style: none;
}

.home_title {
    font-size: 3rem;
    background: none;
    background-clip: text;
    -webkit-background-clip: text;
    font-family: "Delius Swash Caps", cursive;


    text-align: center;
    margin-top: 50px;
    color: white;
    margin-bottom: 20px;
}

/* Stile pagina storia-sito */
.line-story {
    width: 100px;
    border-top: 2px solid;
    margin: auto;
}

.block-text {
    width: 900px;
    margin: auto;
}

/* Stile pagin policy */
.policy {
    max-width: 900px;
    margin: 0 auto;
}

/* Stile tabella taglie */
.table-container {
    background-color: transparent;
}

.table-color td,
.table-color th {
    color: white !important;
    background-color: transparent !important;
}

.table-color td:nth-child(3),
.table-color th:nth-child(3) {
    background-color: transparent;
}

table {
    border: 2px solid rgba(255, 217, 0, 0.699) !important;
}


/* stile pagina product catalogo */
.catalogo-container {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;


}

.catalogo-header {
    padding: 1rem;
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 100;

}

/* Stili per la pagina di ricerca */
.catalogo-header {
    background: rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}

.catalogo-header form {
    margin: 0;
}



.catalogo-header .form-control::placeholder {
    color: rgba(255, 255, 255, 0.5);
}



.catalogo-content {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
    /* Nasconde la scrollbar in Firefox */
    scrollbar-width: none;
    /* Nasconde la scrollbar in Internet Explorer e Edge */
    -ms-overflow-style: none;
}

/* Nasconde la scrollbar in Chrome, Safari e Opera */
.catalogo-content::-webkit-scrollbar {
    display: none;
}

.col-filtri {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;

    z-index: 99;
    padding: 1rem;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.col-filtri.show {
    display: block;
    transform: translateX(0);
}

.col-products {
    width: 100%;
}



@media (min-width: 992px) {
    .col-filtri {
        display: block;
        position: static;
        transform: none;
        height: auto;
        background: none;
        max-width: 290px;
    }


}

.filter-sidebar {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    height: fit-content;
    position: sticky;
    top: 0px;
}

.filter-sidebar .form-label {
    color: white;
}

.filter-sidebar .form-control,
.filter-sidebar .form-select {
    background: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.2);

}

.filter-sidebar .form-control:focus,
.filter-sidebar .form-select:focus {
    background: rgb(255, 255, 255);
    border-color: gold;
    box-shadow: 0 0 0 0.25rem rgba(255, 215, 0, 0.25);
    color: white;
}

.filter-sidebar .form-check-label {
    color: white;
}

.filter-sidebar .form-check-input:checked {
    background-color: gold;
    border-color: gold;
}