@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import "bootstrap-icons/font/bootstrap-icons.css";


* {
    font-family: 'Jost', sans-serif;
}



.main-container {
    width: 100%;
    max-width: 1640px;
    margin: auto;
    padding: 0 20px;
}

@media (min-width: 768px) {
    .main-container {
        padding: 0 40px;
    }
}

@media (min-width: 1024px) {
    .main-container {
        padding: 0 50px;
    }
}

body {
    color: white;
    background: linear-gradient(135deg,
            rgb(15, 0, 0) 40%,
            /* Nero meno invasivo in alto a sinistra */
            rgb(65, 1, 1) 100%
            /* Oro semi-trasparente in basso a destra */
        );
    background-size: 300% 300%;
    /* Dimensione più ampia per un effetto morbido */
    animation: wave 15s infinite ease-in-out;
    /* Animazione più lenta */

}

@keyframes wave {
    0% {
        background-position: 0% 50%;
        /* Punto di partenza */
    }

    50% {
        background-position: 100% 50%;
        /* Movimento laterale fluido */
    }

    100% {
        background-position: 0% 50%;
        /* Ritorno al punto di partenza */
    }
}

li {
    list-style: none;
}

.home_title {
    font-size: 5rem;
    background: none;
    background-clip: text;
    -webkit-background-clip: text;
    font-family: "Allura", cursive;
    text-align: center;
    margin-top: 150px;
    color: white;
    margin-bottom: 20px;
}

/* Stile pagina storia-sito */
.line-story {
    width: 100px;
    border-top: 2px solid;
    margin: auto;
}

.block-text {
    width: 900px;
    margin: auto;
}

/* Stile pagin policy */
.policy {
    max-width: 900px;
    margin: 0 auto;
}

/* Stile tabella taglie */
.table-container {
    background-color: transparent;
}

.table-color td,
.table-color th {
    color: white !important;
    background-color: transparent !important;
}

.table-color td:nth-child(3),
.table-color th:nth-child(3) {
    background-color: transparent;
}

table {
    border: 2px solid rgba(255, 217, 0, 0.699) !important;
}


/* stile pagina product catalogo */
.catalogo-container {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;

}

.catalogo-header {
    padding: 1rem;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 100;
}

.catalogo-content {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
    overflow: auto;
}

.col-filtri {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
    padding: 1rem;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.col-filtri.show {
    display: block;
    transform: translateX(0);
}

.col-products {
    width: 100%;
}

.filtri {
    background: linear-gradient(135deg, rgba(255, 0, 0, 0.3), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

@media (min-width: 992px) {
    .col-filtri {
        display: block;
        position: static;
        transform: none;
        height: auto;
        background: none;
        max-width: 290px;
    }


}